//
  Created by Administrator on 2016/3/20.
include  adminnav.jade
.right
    .right-con
        .container-fluid
            .row
                .col18.offset3
                    -for(var i = 0;i < dynamic.length;i ++){
                        .row.border-b.padding.overflow-h
                            .col6.l-ht40
                                span.ml10.vertical-a-m #{dynamic[i].trend}
                            .col4.l-ht40
                                span 发表人 ：
                                span.font-6 #{dynamic[i].username}
                            .col6.l-ht40
                                span 发表时间 ：
                                span.font-6 #{dynamic[i].newtime}
                            .col4.l-ht40
                                span 获得赞数 ：
                                span.font-orange #{dynamic[i].trendAssist}
                            .col2.l-ht40
                                span.vicons.font-red.font20.cursor-p.delete &#xe760;
                                    input(type='hidden' value='#{dynamic[i]._id}')
                    -}
script(src="/javascripts/plugin/require.js" data-main="/javascripts/plugin/main.js")
script(src="/javascripts/model/adminDynamic.js")
                         