//
   Created by Administrator on 2016/3/24.
include  adminnav.jade
.right
    .right-con
        .container-fluid
            .diary-content
                .row
                  ul.list-unstyled.col10.offset7.mt20.tc
                    li.display-ib.font16.padding.cursor-p.font-blue.border-r.diary-panel(data="checking") 待审核日记
                    li.display-ib.font16.padding.cursor-p.border-r.diary-panel(data="checkpass")  审核通过日记
                    li.display-ib.font16.padding.cursor-p.font-red.diary-panel(data="checknopass")  审核不通过日记
                .row.checking.diary-list
                  .col18.offset3
                    h4.padding.font-blue  待审核日记
                      span #{checking.length}篇
                    -for(var i = 0; i < checking.length; i ++){
                        a(href="javascript:0" type = 'checking')
                          .row.border-b.padding
                            input(type="hidden" name="text" value="#{checking[i].diaryText}")
                            .col4.offset2.l-ht40
                              span.title #{checking[i].diaryTitle}
                            .col8.l-ht40
                              span 发布人：
                              span.user #{checking[i].username}
                            .col6.l-ht40
                              span 发表时间
                              span.time #{checking[i].newtime}
                            .col2.l-ht40
                              span.vicons.font-red.font20.cursor-p &#xe760;
                                input(type="hidden" value="#{checking[i]._id}")
                    -}
                .row.diary-list.checkpass.display-n
                  .col18.offset3
                    h4.padding  审核通过
                      span #{checkpass.length}篇
                    -for(var j = 0; j < checkpass.length; j ++){
                        a(href="javascript:0")
                          .row.border-b.padding
                            input(type="hidden" name="text" value="#{checkpass[i].diaryText}")
                            .col4.offset2.l-ht40
                              span.title #{checkpass[j].diaryTitle}
                            .col8.l-ht40
                              span 发布人：
                              span.user #{checkpass[j].username}
                            .col6.l-ht40
                              span 发表时间
                              span.time #{checkpass[j].newtime}
                            .col2.l-ht40
                              span.vicons.font-red.font20.cursor-p &#xe760;
                                input(type="hidden" value="#{checkpass[j]._id}")
                    -}
                .row.checknopass.diary-list.display-n
                  .col18.offset3
                    h4.padding.font-red  审核不通过
                      span #{checknopass.length}篇
                    -for(var k = 0; k < checknopass.length; k ++){
                        a(href="javascript:0")
                          .row.border-b.padding
                            input(type="hidden" name="text" value="#{checknopass[i].diaryText}")
                            .col4.offset2.l-ht40
                              span.title #{checknopass[k].diaryTitle}
                            .col8.l-ht40
                              span 发布人：
                              span.user #{checknopass[k].username}
                            .col6.l-ht40
                              span 发表时间
                              span.time #{checknopass[k].newtime}
                            .col2.l-ht40
                              span.vicons.font-red.font20.cursor-p &#xe760;
                                input(type="hidden" value="#{checknopass[k]._id}" name="id")
                    -}
            //日记详细
            .row.mt10.diary-container.display-n
                .col18.offset3
                    .row
                        .col2.pos-r
                            .bg-9.font-white.img-circle.vicons.ht40.pos-f.w-40.tc.l-ht40.font20.cursor-p.back &#xe61c;
                        .col22
                            input(type="hidden").diary-id
                            p.font14.tc.mt20
                                span.diaryTitle
                            p.tr.font-9 发表时间：
                                span.diaryTime
                            p.p-indent.per80.offset2.diaryText
                    .row.border-t.pos-f.bottom0.l-ht80
                        input(type="hidden")
                        input(type="radio" name="check" value="1")
                        span 通过
                        input(type="radio" name="check" value="2")
                        span 不通过
                        input(type="button" value="审核提交" class="check-diary")

//遮罩层
.per100.pos-f.ht2000.bg-rgba6.top0.tc.display-n.mask
    .bg-white.w-270.display-ib.radius10.pt50.pb50.mt100.font20 审核成功！
script(src="/javascripts/plugin/require.js" data-main="/javascripts/plugin/main.js")
script(src="/javascripts/model/adminDiary.js")
