//
   Created by jimliu on 2016/1/17.
extends layout
block content
    .container-fluid
        include nav.jade
        .w19.ml-auto.mr-auto.artical
            .row.mt20
                .col16.pr30
                    .border-t-1.bg-f6.l-ht40.pl30.ht40
                        //a(href="").font-c-4d 最新
                        //a(href="").ml30 热门
                    -for(var i=0;i<diaryData.length;i++){
                        .row.ht160.mt20.pb10.border-b-1.diary
                            .col19.pr20
                                a(href="diarytext?id=#{diaryData[i]._id}").font14 #{diaryData[i].diaryTitle}

                                p.mt10.font-6.p-indent.ht90(style="line-height:24px;") #{diaryData[i].text}
                                    a(href="diarytext?id=#{diaryData[i]._id}") ......[查看原文]
                                p.mt16
                                    img(src="images/user/#{diaryData[i].username}.png" width="20" height="20").img-circle.vertical-a-m
                                    span.ml20.vertical-a-m #{diaryData[i].username}
                                    span.font-9.ml20.vertical-a-m #{diaryData[i].newtime}
                                    span.font-9.fr.ml5 点赞 26
                                    span.vicons.font14.fr &#xe6e0;
                            .col5
                                img(src="images/dTitle/#{diaryData[i].img}.png").per100


                    -}
                    //.tc.mt20
                    //    .display-ib.bg-c.padding.cursor-p
                    //        a 加载更多
                .col8
                    -if(user)
                        a(href="publish")
                            .l-ht40.bg-green-4d.tc.font16.font-white 写 日 记
                        .ht50.mt20
                            img(src="#{user.userlogo}" width="80" height="80").img-circle.fl.mr20
                            p.font14.font-9.pt30 #{user.user}
                    -else
                        a(href="login")
                            .l-ht40.bg-green-4d.tc.font16.font-white 写 日 记


        include footer.jade
        script(src="javascripts/plugin/require.js" data-main="javascripts/plugin/main.js")
        script(src="javascripts/model/diary.js")
