//
   Created by jimliu on 2016/1/21.
extends layout
block content
    .container-fluid
        include nav.jade
        .w19.ml-auto.mr-auto.artical
            .pos-r.overflow-h.ht300
                img(src="/#{plane.trainPic[0].pichref}").per100.blur25
                .pos-a.ht300.per100.bg-rgba6.top0.font-white
                    p.font30.mt30.pl40 #{plane.trainName}
                    .pos-a.bottom0.ht80.overflow-h.pl40
                        .border-l-1.ht80.fl.pl40.pr60
                            p.font16.mt10 #{plane.trainLevel}
                            p.mt20.font-special 难度
                        .border-l-1.ht80.fl.pl40.pr60
                            p.font16.mt10 #{plane.trainEq}
                            p.mt20.font-special 器械
                        .border-l-1.ht80.fl.pl40.pr60
                            p.font16.mt10 #{plane.trainUser.length}人
                            p.mt20.font-special 参加人数
            .mt40.border-l-p.l-ht30.font16.pl30 训练计划介绍
            .p-indent.font-6.l-ht30 #{plane.trainText}
            .mt30.tc.mb100
                .l-ht40.bg-green-4d.tc.font16.font-white.display-ib.pl30.pr30.cursor-p.get-train 参加该训练计划
                    input(type="hidden" value="#{plane._id}")
        include footer.jade
        script(src="/javascripts/plugin/require.js" data-main="/javascripts/plugin/main.js")
        script(src="/javascripts/model/dplane.js")
