//
   Created by jimliu on 2016/1/20.

extends layout
block content
    .container-fluid
        include nav.jade
        .w19.ml-auto.mr-auto.artical
            .row.mt20
                .col14.pr30.offset2
                    .mt10
                        textarea(rows="4" style="font-size:14px;").pt10.per100.form-control.dynamic
                    .mt10.overflow-h
                        -if(user)
                            .fr.l-ht30.font-white.font14.w-110.bg-green-4d.tc.cursor-p.radius5.publish 发布
                        -else
                            a(href="login").fr.l-ht30.font-white.font14.w-110.bg-green-4d.tc.cursor-p.radius5.publish 发布
                    ul.list-unstyled
                        -for(var i = 0;i < dynamins.length; i++)
                            li.padding.box-s-2.mt20.overflow-h
                                img(src="images/user/#{dynamins[i].username}.png" width="40" height="40").fl.img-circle.mr20
                                .font14.pt10 #{dynamins[i].username}
                                .mt10.l-ht30 #{dynamins[i].trend}
                                .font-9.fl #{dynamins[i].newtime}
                                .vicons.fr.font18.cursor-p.mr20.assist &#xe6e0;
                                    input(type='hidden' value="#{dynamins[i]._id}")
                                    span.font12.ml5.font-6 0

                .col8.ht500
                    .ht50.mt20
                        -if(user){
                        img(src="#{user.userlogo}" width="80" height="80").img-circle.fl.mr20

                        p.font14.font-9.pt30 #{user.user}
                        -}

        include footer.jade
        script(src="javascripts/plugin/require.js" data-main="javascripts/plugin/main.js")
        script(src="javascripts/model/dynamic.js")
