extends layout
block content
    .container-fluid
        include nav.jade
        .w19.ml-auto.mr-auto.artical
            .row.mt20
                .col6.ht600
                    ul.list-unstyled.left-nav
                        li.ht100.border-b.padding.pos-r
                            img(src="images/user.jpg" width="80" height="80").img-circle.fl
                            p.font16.pt20.ml120 刘星海
                            p.ml120
                                a(href="setprofile")
                                    span.vicons &#xe76c;
                                    span 设置资料
                        li.ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d("data"="chart")
                            span.vicons.mr10 &#xe657;
                            span 健身报表
                        li.ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d("data"="plane")
                            span.vicons.mr10 &#xe66e;
                            span.mr10 健身计划
                            span.font12 20
                        li.ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d("data"="dynamic")
                            span.vicons.mr10 &#xe72b;
                            span.mr10 健身动态
                            span.font12 20
                        li.ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d("data"="diary")
                            span.vicons.mr10 &#xe7a1;
                            span.mr10 健身日记
                            span.font12 20
                //健身报表
                .col18.pl30.display-n.chart
                    .border-b-1.font16.l-ht30.ht40 我的健身报表
                //健身计划
                .col18.pl30.plane
                    .border-b-1.font16.l-ht30.ht40 我的健身计划
                    .mt10.overflow-h
                        -for(var i = 0;i < 5; i++){
                            .ht140.mt10.row
                                .col7.overflow-h
                                    img(src="images/temp/jihua-title.jpg").per100
                                .col17.ht140.pl20
                                    p.font14.mt10  腹肌撕裂者
                                        span.ml30.font-9.font12 添加时间：2015-12-12
                                    p 分类：腹肌
                                        span.font-9.ml30 最后训练时间：2016-1-10
                                    p
                                        a.display-ib.btn-purple.pl10.pr10.cursor-p.pt4.pb4 开始训练
                        -}
                //健身动态
                .col18.pl30.display-n.dynamic
                    .border-b-1.font16.l-ht30.ht40 我的健身动态
                    -for(var i = 0;i < dynamic.length; i++){
                        .pt20.pb20.border-b #{dynamic[i].trend}
                            span.vicons.font-red.fr.font20.cursor-p.ml10.deletDynamic &#xe649;
                                input(type="hidden" value="#{dynamic[i].id}")
                            .ml30.fr.pt4 #{dynamic[i].newtime}
                    -}



                //健身日记
                .col18.pl30.display-n.diary
                    .border-b-1.font16.l-ht30.ht40 我的健身日记
                    //日记列表
                    .row.mt10.diary-list
                        -for(var i = 0;i < diaryData.length; i ++){
                            .col12.padding.mt10.pos-r.list-container
                                .border.ht170.box-s-2.cursor-p.pt10
                                    input(type="hidden" name="diaryTitle" value="#{diaryData[i].diaryTitle}")
                                    input(type="hidden" name="diaryText" value="#{diaryData[i].diaryText}")
                                    input(type="hidden" name="diaryTime" value="#{diaryData[i].newtime}")
                                    span.vicons.cursor-p.fr.mt10.font-red.font18.mr10.deletDiary &#xe649
                                        input(type='hidden' value="#{diaryData[i]._id}")
                                    p.font14.tc #{diaryData[i].diaryTitle}
                                    p.p-indent.padding.font-6.mb4 #{diaryData[i].text}.....
                                    p.pr10.pl10.tr.font-c-4d
                                        -if(diaryData[i].state == '0')
                                            span.fl.font-blue 正在审核
                                        -else if(diaryData[i].state == '1')
                                            span.fl.font-green 审核通过
                                        -else if(diaryData[i].state == '2')
                                            span.fl.font-red 审核不通过
                                        span.fr #{diaryData[i].newtime}
                        -}
                    //日记详细
                    .row.mt10.diary-container.display-n
                        .col2.pos-r
                            .bg-9.font-white.img-circle.vicons.ht40.pos-f.w-40.tc.l-ht40.font20.cursor-p.back &#xe61c;
                        .col22
                            p.font14.tc.mt20
                                span.diaryTitle
                            p.tr.font-9 发表时间：
                                span.diaryTime
                            p.p-indent.per80.offset2.diaryText
        include footer.jade
        //遮罩层
        .per100.pos-f.ht2000.bg-rgba6.top0.tc.display-n.mask
            .bg-white.w-270.display-ib.radius10.pt50.pb50.mt100.font20 删除成功
        script(src="javascripts/plugin/require.js" data-main="javascripts/plugin/main.js")
        script(src="javascripts/model/usercenter.js")